<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="/images/profile.png" alt="Picture of me">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Scott Robbins</h2>
      <p class="subtitle subtitle--light">
        iOS and Rails developer in the CLE
      </p>
      <p>
        Just want to share some of my thoughts and experiences on software development as I go.
      </p>
    </div>
  </div>
</section>